/* In your CSS file (e.g., Login.css) */
.register-link {
  color: rgb(86, 86, 252); /* Set text color to blue */
  text-decoration: none; /* Remove underline */
  margin-top: -15px;
}

.register-link:hover {
  text-decoration: underline; /* Add underline on hover */
}

.login-title {
  text-align: center; /* Center the text */
  margin-bottom: 20px; /* Add some space below the title */
  font-size: 2em; /* Increase the font size */
  margin-top: -400px;
}
/* In SignUp.css */
.login-main {
  display: flex;
  justify-content: center;
  flex-direction: column; /* Add this line */
  height: 100vh;
}

.login-form {
  background-color: rgb(88, 87, 87);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  width: 25%; /* Adjust as needed */
  margin: 20px auto; /* Add this line */
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.button-login {
  width: 40%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: white;
}

.button-login:hover {
  background-color: #0056b3; /* Darker blue when hovered */
}

.button-login:active {
  background-color: #003d80; /* Even darker blue when clicked */
}

.error-message {
  color: rgb(148, 2, 2);
  text-align: center;
}

@media (max-width: 600px) {
  .login-title {
    font-size: 1.5em; /* Adjust font size for mobile screens */
  }

  .login-form {
    width: 80%; /* Adjust the width for mobile screens */
    margin: 20px auto; /* Center horizontally on mobile screens */
  }
  .button-login {
    width: 100%;
  }
}
