.newTasks-label {
  margin: 50px;
  text-align: center;
  text-decoration: underline;
}

.newTasks-textarea {
  width: 45%; /* Default width for larger screens (like laptops) */
  height: 500px;
}

.done {
  background: linear-gradient(
    to right,
    rgb(134, 2, 2),
    rgb(87, 2, 2),
    rgb(20, 0, 0)
  );
  color: white;
  text-decoration: none;
  padding: 20px; /* Increase padding for a larger background */
  border-radius: 5px;
  display: block; /* Make the link a block element */
  width: 20%; /* Set width to cover more of the horizontal screen */
  margin: 20px; /* Center the link */
  margin-left: 495px;
}

/* Add a media query for screens with a maximum width of 600px (mobile screens) */
@media (max-width: 600px) {
  .newTasks-textarea {
    width: 100%; /* Increase the width to 100% on mobile screens */
  }
  .done {
    width: 80%; /* Adjust the width for mobile screens */
    margin-left: auto; /* Center the button horizontally on mobile screens */
    margin-right: auto;
  }
}
