.newTasks-label {
  margin: 50px;
  text-align: center;
  text-decoration: underline;
}

.newTasks-textarea {
  width: 45%; 
  height: 500px;
}

.done {
  background: linear-gradient(
    to right,
    rgb(134, 2, 2),
    rgb(87, 2, 2),
    rgb(20, 0, 0)
  );
  color: white;
  text-decoration: none;
  padding: 20px; 
  border-radius: 5px;
  display: block;
  width: 20%; 
  margin: 20px; 
  margin-left: 495px;
}

@media (max-width: 600px) {
  .newTasks-textarea {
    width: 100%; 
  }
  .done {
    width: 80%; 
    margin-left: auto; 
    margin-right: auto;
  }
}
