.background {
  padding-top: 4rem; 
}

.rules {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 2rem;

}

.goal-heading {
  text-decoration: underline;
  margin-bottom: 2rem;
}

.goal-content {
  color: rgb(185, 37, 37);
  font-family: "Sans-Serif";
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.rule-item {
  display: table-row;
}

.rule-title-wrapper {
  display: table-cell;
  margin: 1rem;
}

.rule-title {
  font-weight: bold;
  padding: 10px;
  background-color: rgb(136, 135, 135);
  color: white;
  border-radius: 10px;
  text-align: left;
}

.rule-content {
  display: table-cell;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2rem;
}


@media (max-width: 600px) {
  .table-container {
    overflow-x: hidden; 
    padding: 0 1rem; 
  }

  table {
    max-width: calc(
      100% - 2rem
    ); 
    border-collapse: collapse;
  }

  .rule-item {
    display: block; 
    margin-bottom: 1.5rem; 
    border: 1px solid #ccc; 
    padding: 1rem;
  }

  .rule-title-wrapper {
    display: block;
  }

  .rule-title {
    text-align: left; 
  }

  .rule-content {
    text-align: left; 
    padding-left: 0; 
  }
  .goal-content {
    text-align: center; 
    margin: 5px;
  }
}
