.edit-task a {
  background: linear-gradient(
    to right,
    rgb(134, 2, 2),
    rgb(87, 2, 2),
    rgb(20, 0, 0)
  );
  color: white;
  text-decoration: none;
  padding: 20px; 
  border-radius: 5px;
  display: block; 
  width: 30%; 
  margin: auto; 
  margin-top: 20px;
}

.edit-task a:hover {
  color: rgb(139, 139, 139);
}

.edit-task a:active {
  color: rgb(139, 139, 139);
  text-decoration: underline;
}

.tasks-title {
  text-decoration: underline;
  margin-bottom: 2rem;
}

.tasks-title h2,
.tasks-added h2 {
  margin-left: 30%;
  text-align: left;
}

.tasks-diet,
.tasks-workout {
  background-color: grey;
  border: 1px solid white;
  color: white;
  width: 40%; 
  margin: auto; 
  border-radius: 20px;
}

.emptySlot {
  color: rgb(126, 4, 4);
}

@media (max-width: 600px) {
  .edit-task a {
    width: 80%;
  }
  .tasks-title h2,
  .tasks-added h2 {
    margin-left: 10%; 
    text-align: center; 
  }
  .tasks-diet,
  .tasks-workout {
    width: 80%;
  }
}
